<tr>
  <td><%= record.id %></td>
  <td><%= link_to record.title, record.link, target: :_blank %></td>
  <td><%= record.company %></td>
  <td><%= record.published_date %></td>
  <td><%= record.published_type %></td>
  <td><%= record.revenue %></td>
  <td><%= record.revenue_period %></td>
  <td><%= record.skill %></td>
</tr>