<div class="jumbotron text-center">
  <h1>Jobs Scraper</h1>
</div>

<div class="container p-5">

  <div class="row">
    <div class="col-lg-12 text-center form-login">
      <p>
        <%= form_for @record, url: records_path do |f| %>
          <%= f.file_field :file, placeholder: "Upload CSV", class: 'form-control form-control-file', required: true %>
          <br>
          <%= f.button "Upload CSV", type: "submit", class: "form-control btn btn-primary" %>
        <% end %>
      </p>
    </div>
  </div>

  <br><hr><br>

  <div>
    <div class="col-lg-12 text-center form-login">
      <p>
        <%= form_for @record, url: records_path do |f| %>
          <%= f.text_field :skills, placeholder: "Skills", class: "form-control" %>
          <br>
          <%= f.button "Submit", type: "submit", class: "form-control btn btn-primary" %>
        <% end %>
      </p>
    </div>
  </div>

</div>
