<nav class="main_header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= link_to "Opti-Scraper", logged_in? ? records_path : root_path, class: 'navbar-brand' %>
      </div>
      <% if logged_in? %>
        <div class="col-sm-8">
          <div class="main_menu_wrap">
            <ul>
              <li class= "<%= current_page?('/records') ? 'active' : '' %>"><%= link_to 'Scraper', records_path %></li>
              <li class= "<%= current_page?('/skills') ? 'active' : '' %>"><%= link_to 'Skills', skills_path, class: '' %></li>
              <li class= "<%= current_page?('/calculate_form') ? 'active' : '' %>"><%= link_to 'Calculator', calculate_form_path, class: '' %></li>
              <li class= "<%= current_page?('/settings/1/edit') ? 'active' : '' %>"><%= link_to 'Settings', edit_setting_path(1), class: '' %></li>
              <li><%= link_to "Logout", logout_path, class: "" %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
